@model WebApp.Models.GameSession

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Игра @Model.Context.UserName</title>
</head>
<body>
    <div>
        @Model.Context.UserUid
        <br />
        @Model.Context.CardIndexSequenceStartSeed
        <br />
        <span>CardId: @Model.CurrentCard.Index</span>
        <br />
        @foreach (var item in Model.CurrentCard.Words)
        {
            <b>@Html.Label(item)</b><br />
        }
    </div>
</body>
</html>
